<div data-hook="admin_inside_store_locations_form">

  <div class="row">

    <div class="col-md-4" data-hook="admin_product_form_left">
      <%= f.field_container :name, class: ['form-group'] do %>
          <%= f.label :name, Spree.t(:name) %> <span class="required">*</span><br />
          <%= error_message_on :name, :name %>
          <%= text_field :contest, :name, :class => 'form-control' %>
      <% end %>
    </div>


    <div class="col-md-4" data-hook="admin_product_form_right">
      <%= f.field_container :description do %>
          <%= f.label :description, Spree.t(:description) %> <span class="required">*</span><br />
          <%= error_message_on :description, :description %>
          <%= f.text_area  :description, :class => 'form-control' %>
      <% end %>
      </div>
  </div>
  <div id="date_begin" class="form-group">
    <%= f.label :date_begin %>
    <%= f.text_field :date_begin, :value => datepicker_field_value(@contest.date_begin), :class => 'datepicker datepicker-from form-control' %>
  </div>

  <div id="date_end" class="form-group">
    <%= f.label :date_end %>
    <%= f.text_field :date_end, :value => datepicker_field_value(@contest.date_end), :class => 'datepicker datepicker-to form-control' %>
  </div>

  </div>
</div>

